/* Reset de margens e paddings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  background-image: url("../img/7.png");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Navbar Responsiva */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px;
  margin-bottom: 100px;
}

.navbar img {
  width: 80px;
  height: 80px;
}

.user_welcome {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user_welcome_p {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

.user_welcome_p p {
  font-size: 18px;
  margin: 0;
}

.user_welcome_p h4 {
  font-size: 24px;
  margin: 0;
}

/* Card Login */
.card-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.card {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
}

.card-header {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-body img {
  width: 320px;
  height: 320px;
  margin-top: 20px;
}

.form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  padding: 16px;
  font-size: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-control:focus {
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  box-shadow: none;
}

button {
  background-color: #fad129;
  border: none;
  color: black;
  padding: 16px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
}

button a {
  text-decoration: none;
  color: black;
}

button:hover {
  background-color: #f7d346;
}

.linkCadastro,
.linkRSenha {
  margin-top: 20px;
}

.linkCadastro a,
.linkRSenha a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.linkCadastro a:hover,
.linkRSenha a:hover {
  text-decoration: underline;
}

/*-------- PÁG HOME --------*/
.main_home {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.main_home .card {
  width: 90%;
}

.title-home {
  display: flex;
  justify-content: center;
}

.main_home img {
  width: 150px;
  margin-right: 15px;
}

.main_home h1 {
  color: black;
  font-size: 8em;
}

.div-setores {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.div-setores img {
  width: 100px;
  height: 100px;
}

.div-setores button {
  font-size: 2em;
  background-color: white;
  height: 250%;
  width: 100%;
}

/* -------- PÁGS SETORES --------- */

.title_pagsSetores {
  display: flex;
  justify-content: center;
}

.title_pagsSetores img {
  width: 15%;
}

.title_pagsSetores h1 {
  color: black;
  font-size: 7em;
}

/* Estilizando o menu lateral */
.menu {
  position: fixed;
  top: 0;
  right: -250px; 
  width: 250px;
  height: 100%;
  background: rgb(0, 0, 0);
  color: white;
  padding-top: 60px;
  transition: right 0.3s ease-in-out;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid rgb(80, 80, 80);
}

.menu ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.menu ul li a:hover {
  background: rgba(0, 0, 0, 0.801);
}

/* Botão do menu */
.menu-toggle {
  cursor: pointer;
}

/* -------- PÁG PLANEJAMENTO --------- */
