/* Reset de margens e paddings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  background-image: url("../img/7.png");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Navbar Responsiva */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px;
  margin-bottom: 30px;
}

.navbar img {
  width: 80px;
  height: 80px;
}

.user_welcome {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: left;
}

.user_welcome_p {
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 1;
  margin-top: 10px;
  margin-left: 15px;
}

.user_welcome_p p {
  font-size: 25px;
  margin: 0;
}

.user_welcome_p h4 {
  
  font-size: 35px;
  margin: 0;
}

/* Card Login */
.card-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

/* Card de login */
.card-login .card_index {
  width: 100%; 
  max-width: 1500px; 
  padding: 50px; 
}

.card_index {
  margin-top: 70px;
  width: 90%; 
  max-width: 1500px; 
  padding: 40px;
  height: 97%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.card_index img {
  width: 150px;
  height: 150px;
}

.card {
  width: 90%; 
  max-width: 1200px; 
  padding: 40px; 
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.card-header {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-body img {
  width: 500px;
  height: 500px;
  margin-top: 50px;
}

.form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  padding: 20px;
  font-size: 30px;
  margin-bottom: 7px;
  width: 100%;
}

#email {
  margin-top: 20px;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-control:focus {
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  box-shadow: none;
}

button {
  background-color: #fad129;
  border: none;
  color: black;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 40px;
  margin-top: 5px;
}

button a {
  text-decoration: none;
  color: black;
}

button:hover {
  background-color: #f7d346;
}

.links {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 150px;
  margin-top: 10px;
}

.linkCadastro,
.linkRSenha {
  margin-top: 20px;
}

.linkCadastro a,
.linkRSenha a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.linkCadastro a:hover,
.linkRSenha a:hover {
  text-decoration: underline;
}

/*-------- PÁG HOME --------*/
.main_home {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

/* Card na página home */
.main_home .card {
  width: 100%; 
  max-width: 1500px; 
  padding: 40px;
}

.title-home {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.main_home img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.main_home h1 {
  color: black;
  font-size: 7em;
}

.div-setores {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.div-setores img {
  width: 100px;
  height: 100px;
}

.div-setores button {
  font-size: 2.5em;
  background-color: white;
  height: 300%;
  width: 100%;
}

/* -------- PÁGS SETORES --------- */

.title_pagsSetores {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title_pagsSetores img {
  width: 100px;
}

.title_pagsSetores h1 {
  color: black;
  font-size: 5em;
  margin-left: 20px;
}

/* Estilizando o menu lateral */
.menu {
  position: fixed;
  top: 0;
  right: -250px; 
  width: 250px;
  height: 100%;
  background: rgb(0, 0, 0);
  color: white;
  padding-top: 60px;
  transition: right 0.3s ease-in-out;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  padding: 15px;
  text-align: center;
  font-size: 2.3em;
  border-bottom: 1px solid rgb(80, 80, 80);
}

.menu ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.menu ul li a:hover {
  background: rgba(0, 0, 0, 0.801);
}

/* Botão do menu */
.menu-toggle {
  cursor: pointer;
}

/* -------- PÁG PLANEJAMENTO --------- */














/* -------- PÁG CADASTRO --------- */
.card-login-cadastro .card_cadastro{
  width: 100%; 
  padding: 50px; 
}


.card_cadastro {
  margin: auto;
  width: 90%; 
  max-width: 1500px; 
  padding: 40px;
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.body_cadastro {
  background-image: url('../img/4.png');
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
}

.card-body img{
  margin-bottom: 20px;
}

/* Personalização da seta do select */
.form-group select {
  color: rgba(255, 255, 255, 0.7);
  background-image: url('../img/seta.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-right: 35px;
}

.form-group select:hover{
  color: rgba(255, 255, 255, 0.7);
}

/* Estilização das opções */
.form-group select option {
  color: rgb(0, 0, 0);
  font-size: 16px
}


